.IconWithContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start; 
  // background-color: tomato;
  align-items: center;
  .Content {
    height: 100%;
    width: 100%;
  }
}