.Map {
  @include py(10);
  background-color: $light-grey;

  .image-container {
    width: 80rem;
    max-width: 90%;
  }

  .text-wrapper {
    text-align: center;
    @include mt(3);
    // font-size: 1.8rem;
    // font-weight: bold;
    // color: #555;
    max-width: 40rem;
    width: 90%;
    @include tablet-up {
      font-size: 2rem;
    }
  }
}
