$spacing: .5rem;
$rSpacing: 1%;

// margins
@mixin m($multiplier) {
  margin: $spacing * $multiplier;
}
@mixin mt($multiplier) {
  margin-top: $spacing * $multiplier;
}
@mixin mb($multiplier) {
  margin-bottom: $spacing * $multiplier;
}
@mixin my($multiplier) {
  margin-top: $spacing * $multiplier;
  margin-bottom: $spacing * $multiplier;
}
@mixin mr($multiplier) {
  margin-right: $spacing * $multiplier;
}
@mixin ml($multiplier) {
  margin-left: $spacing * $multiplier;
}
@mixin mx($multiplier) {
  margin-right: $spacing * $multiplier;
  margin-left: $spacing * $multiplier;
}

// paddings
@mixin p($multiplier) {
  padding: $spacing * $multiplier;
}
@mixin pt($multiplier) {
  padding-top: $spacing * $multiplier;
}
@mixin pb($multiplier) {
  padding-bottom: $spacing * $multiplier;
}
@mixin py($multiplier) {
  padding-top: $spacing * $multiplier;
  padding-bottom: $spacing * $multiplier;
}
@mixin pr($multiplier) {
  padding-right: $spacing * $multiplier;
}
@mixin pl($multiplier) {
  padding-left: $spacing * $multiplier;
}
@mixin px($multiplier) {
  padding-right: $spacing * $multiplier;
  padding-left: $spacing * $multiplier;
}

// responsive 

// margins
@mixin mr($multiplier) {
  margin: $rSpacing * $multiplier;
}
@mixin mtr($multiplier) {
  margin-top: $rSpacing * $multiplier;
}
@mixin mbr($multiplier) {
  margin-bottom: $rSpacing * $multiplier;
}
@mixin myr($multiplier) {
  margin-top: $rSpacing * $multiplier;
  margin-bottom: $rSpacing * $multiplier;
}
@mixin mrr($multiplier) {
  margin-right: $rSpacing * $multiplier;
}
@mixin mlr($multiplier) {
  margin-left: $rSpacing * $multiplier;
}
@mixin mxr($multiplier) {
  margin-right: $rSpacing * $multiplier;
  margin-left: $rSpacing * $multiplier;
}

// paddings
@mixin pr($multiplier) {
  padding: $rSpacing * $multiplier;
}
@mixin ptr($multiplier) {
  padding-top: $rSpacing * $multiplier;
}
@mixin pbr($multiplier) {
  padding-bottom: $rSpacing * $multiplier;
}
@mixin pyr($multiplier) {
  padding-top: $rSpacing * $multiplier;
  padding-bottom: $rSpacing * $multiplier;
}
@mixin prr($multiplier) {
  padding-right: $rSpacing * $multiplier;
}
@mixin plr($multiplier) {
  padding-left: $rSpacing * $multiplier;
}
@mixin pxr($multiplier) {
  padding-right: $rSpacing * $multiplier;
  padding-left: $rSpacing * $multiplier;
}

// @mixin maring-and-padding-spacing( $spacing ) {
//    @for $i from 1 to 41{
//     // Margin
//     %m#{$i} {
//       margin: $spacing * $i;
//     }

//     %mt#{$i},
//     %my#{$i} {
//       margin-top: $spacing * $i;
//     }

//     %mb#{$i},
//     %my#{$i} {
//       margin-bottom: $spacing * $i;
//     }

//     %ml#{$i},
//     %mx#{$i} {
//       margin-left: $spacing * $i;
//     }

//     %mr#{$i},
//     %mx#{$i} {
//       margin-right: $spacing * $i;
//     }

//     // Padding
//     %p#{$i} {
//       padding: $spacing * $i;
//     }

//     %pt#{$i},
//     %py#{$i} {
//       padding-top: $spacing * $i;
//     }

//     %pb#{$i},
//     %py#{$i} {
//       padding-bottom: $spacing * $i;
//     }

//     %pl#{$i},
//     %px#{$i} {
//       padding-left: $spacing * $i;
//     }

//     %pr#{$i},
//     %px#{$i} {
//       padding-right: $spacing * $i;
//     }
//   }
// }
// @include maring-and-padding-spacing($spacing);
