body {
  color: $copy-color;
  font-size: $fz-1;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: $fz-5;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,.7);
  @include mb(17);
}

h2 {
  font-weight: bold;
  font-size: $fz-4;
  @include mb(10);

  sup {
    // font-weight: normal;
    font-size: 40%;
    position: relative;
    top: -1.8rem;
  }
}

p {
  @include my(2);

  &.-lg {
    font-size: $fz-3;
  }

  &.-xlg {
    font-size: $fz-4;
    .icon {
      max-width: 7rem;
      margin-bottom: -2rem;
    }
  }

  .icon {
    max-width: 5rem;
    display: inline-block;
    // position: relative;
    // top: 1.7rem;

    // TODO: this is very bad
    margin-bottom: -1.8rem;
  }
}

.strong,
b,
strong {
  font-weight: bold;
  color: $primary-color;

  &.-neutral {
    color: $copy-color;
  }

  &.-lg {
    font-size: $fz-3;
  }

  &.-xlg {
    font-size: $fz-4;
  }
}

em {
  font-style: italic;

}

button {
  font-size: $fz-3;

  &.-sm{
    font-size: $fz-2;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  opacity: .8;
  // transition: all .3s;

  &:hover {
    color: $primary-color;
    opacity: 1;
  }
}

.stand-out {
  font-weight: bold;
  font-size: $fz-2;

  &.-primary {
    color: $primary-color;
  }
}
