body {
  color: $copy-color;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: $fz-5;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,.7);
  @include mb(17);
}

h2 {
  font-weight: bold;
  font-size: $fz-4;
  @include mb(5);

  sup {
    // font-weight: normal;
    font-size: 40%;
    position: relative;
    top: -1.8rem;
  }
}

p {
  @include my(2);

  &.-lg {
    font-size: $fz-2;
  }

  .icon {
    max-width: 5rem;
    display: inline-block;
    // position: relative;
    // top: 1.7rem;

    // TODO: this is very bad
    margin-bottom: -1.8rem;
  }
}

.strong,
b,
strong {
  font-weight: bold;
  color: $primary-color;

  &.-neutral {
    color: $copy-color;
  }
}

em {
  font-style: italic;

}

button {
  font-size: $fz-3;
  @include py(2);
  @include px(10);
  border: 4px solid $primary-color;
  height: auto;
  border-radius: 1rem;
  transition: all .3s;
  text-transform: initial;

  &:hover {
    background-color: $primary-color;
    color: white;
    border-color: transparent;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  opacity: .8;
  transition: all .4s;

  &:hover {
    color: $primary-color;
    opacity: 1;
  }
}

.stand-out {
  font-weight: bold;
  font-size: $fz-2;

  &.-primary {
    color: $primary-color;
  }
}
