$primary-color: #608A38;
$primary-color-light: #CBEB8B;
$grey: #4D4D4D;
$light-grey: #F6F6F6;

$copy-color: #4D4D4D;


// font sizes
$fz-5: 4.8rem;
$fz-4: 3.6rem;
$fz-3: 2rem;
$fz-2: 1.8rem;
$fz-1: 1.7rem;
