@import url( 'https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import 'normalize.css';
@import './skeleton';
@import './variables';
@import './media-queries';
@import './spacing';
@import './typography';
@import './components';

*,
*::after,
*::before {
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  @include py(2);
  @include px(10);
  border: 4px solid $primary-color;
  height: auto;
  border-radius: 1rem;
  transition: all .3s;
  text-transform: initial;

  &:hover {
    background-color: $primary-color;
    color: white;
    border-color: transparent;
  }

  &.-fill {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: darken($primary-color, 8%);
    }
  }

  &.-sm {
    @include py(1);
    @include px(5);
  }
}

li,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

footer,
main {
  // need this to come above hero
  z-index: 1;
  position: relative;
}

section {
  @include py(15);

  &.-white {
    background-color: white;
  }

  &.-grey {
    background-color: $light-grey;
  }

  &.-center {
    text-align: center;
  }
}

figure {
  @include m(0);
  text-align: center;
  figcaption {

  }
}


.container {
  max-width: 1050px;
}
