@import url( 'https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import 'normalize.css';
@import './skeleton';
@import './variables';
@import './media-queries';
@import './spacing';
@import './typography';
@import './components';

*,
*::after,
*::before {
  -webkit-backface-visibility: hidden;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

li,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

section {
  @include py(15);

  &.-white {
    background-color: white;
  }

  &.-center {
    text-align: center;
  }
}
