.NavBar {
  background-color: rgba(40,40,40,.6);
  @include py(2);
  .logo {
    max-width: 20rem;
  }

  .menu-item {
    color: white;
    text-transform: uppercase;
    position: relative;
    font-size: 1.8rem;
    @include px(3);
    
    .sub-menu {
      position: absolute;
      top: 100%;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
      // transform-style: preserve-3d;
      // background-color: teal;
      white-space: nowrap;
      transition: all .3s 0s;
      z-index: 1000;
    }

    &:hover .sub-menu {
      visibility: visible;
      opacity: 1;
      // transform: translate3d(-50%, 8%, 0);
      // transition-delay: .3s;
    }

    .sub-menu-inner {
      // margin-top: 2.6rem;
      background-color: white;
      border-radius: .5rem;
      position: relative;
      top: 3.4rem;
      color: #3d3d3d;
      box-shadow: 0 0 6px rgba(0,0,0,.4);
      text-transform: capitalize;
      transform: translate3d(0, 4%, 0);
      transition: all .3s 0s;
      &::before {
        $length: 2rem;
        content: '';
        border: $length transparent solid;
        border-right: $length - 0.5rem transparent solid;
        border-left: $length - 0.5rem  transparent solid;
        border-bottom: $length white solid;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%,$length*-2 + .1rem, 0);
      }

      .item {
        @include px(3);
        @include py(2);
      }
    }

    &:hover .sub-menu-inner {
      transform: translate3d(0, 0%, 0);
    }
  }

}
